@using EntityLayer.Concreate
@model List<Customer>
@{

    ViewBag.Title = "ListCustomers";

}


<a class="headerDesign">KAYITLI MÜŞTERİLER </a>

<table class="table customTable">
    <thead class="thead-dark">
        <tr>

            <th> Müşteri Adı</th>
            <th> Müşteri Telefon</th>
            <th> Müşteri Adresi</th>
            <th> Müşteri Kayıt Tarihi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td> @item.CustomerName </td>
                <td> @item.CustomerPhone </td>
                <td> @item.CustomerAddress </td>
                <td> @item.CustomerDate </td>
                <td>
                    <a class="btn btn-outline-primary my-2 my-sm-0" href="/CallLog/Cagrilar/@item.CustomerId">Kayıtlı Çağrılar</a>
                </td>
            </tr>
        }

    </tbody>


</table>

@*<div class="modal-container" id="modal_container">
    <div class="customModal">
        <h1> here</h1>
        <p>assadsad</p>
        <button id="close"> closee me</button>
    </div>
</div>*@